body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(29,29,29);
}

.container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 5px;
    max-width: 400px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    transition: background-color 1s;
    cursor: pointer;
}

.square:hover {
    background-color: rgb(29,29,29);
}
